/* Fondo y texto general */
body {
    font-family: Arial Narrow, sans-serif;
    text-align: center;
    margin: 0;
    padding: 2px;
    background-color: #f0f0f0;
    color: black;
}

/* Mapa */
#map {
    height: 600px;   /* Puedes hacerlo más grande si querés */
    width: 100%;
    margin-top: 20px;
}

/* Título superior */
.titulo-superior {
    color: darkgreen;
    text-align: center;
    font-family: 'Impact', serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Texto bajo el mapa */
.titulo-inferior {
    color: black;
    text-align: center;
    font-family: 'Arial', serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-top: 20px;
}

/* Powered */
.powered {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    color: #555;
    font-weight: normal;
    letter-spacing: 0.5px;
}
